h1{
    font-size: large;
    font-style: italic;
    font-weight: 200;
    color: red;
    text-align: center;
}


div{
    background-color: aliceblue;
    margin: 0 auto;
    text-align: center;
}
.im{
    font-size: larger;
    color: blue;
    font-size: oblique;
    font-weight: bold;
}